.app {
    border-left: 0 !important;
    text-align: right;
    font-size: 0.8em;
    margin-top: -18px;
    margin-bottom: -8px;
}

.app-selector {
    margin-bottom: 8px;
    width: 100%;
}

.app-btn {
    width: 50%;
}

.filters {
    padding: 6px;
}

.filter-list {
    width: 90%;
    display: inline-block;
    color: #888;
    font-style: italic;
}

.filter-list strong {
    color: #000;
    font-style: normal;
}

.filter-options {
    width: 10%;
    float: right;
    text-align: right;
}

.results {
    margin-left: 0;
}

.results li:not(:first-child) {
    border-top: 1px dotted #CCC;
}

.results li {
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.7;
}

.results li:hover {
    background: #ededed;
}

.results i {
    position: relative;
    top: 3px;
    cursor: pointer;
}

.truncate {
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-results {
    display: none;
}

ul {
  padding-top: 5px;
  margin-left: 0.5em;
}

.label-warning {
  font-size: 10px;
  padding: 0 2px 0 3px;
}

.row-fluid [class*="span"] {
  min-height: 20px;
}

.entries {
  padding-top: 10px;
}
.entry-text {
  padding-left: 0.3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}

.well .well-small {
  margin-bottom: 0;
}

.icon-plus,
.icon-minus {
  float: right;
  position: relative;
  top: 4px;
}

.mentor-app {
  height: 28px !important;
  min-height: 28px !important;
}

/* ---- styles for keyword cloud ---- */
.searchBox {
  width: 97%;
  cursor: default;
  border: 1px solid #d3d3d3;
  padding: 4px;
  padding-bottom: 0;
  list-style-type: none;
  margin: 0;
  float: left;
  cursor: text;
  border-radius: 2px;
}

.searchBox .term {
  background: #f4f4f4;
  position: relative;
  display: block;
  float: left;
  margin: 0 3px 3px 0;
  padding: 3px 17px 4px 6px;
  background: #fafafa;
  font-size: 11px;
  line-height: 13px;
  color: #333;
  min-height: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  word-break: break-all;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
  -ms-word-break: break-all;
}

.searchBox .term a.delete {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #C6C6C6;
  cursor: pointer;
  outline: medium none;
  background-color: transparent;
  position: absolute;
  right: 6px;
  top: 3px;
}

.searchBox .term a.delete:hover {
  color: #000;
}

.searchBox input {
  border: none;
  outline: none;
  float: left;
  padding: 1px 1px 3px 0px;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.search-button {
padding-top: 10px;
}

.btn-search {
  background-color: #78A300;
  color: white;
  width: 100%;
}