.app {
    border-left: 0 !important;
    text-align: right;
    font-size: 0.8em;
    margin-top: -18px;
    margin-bottom: -8px;
}

.app-selector {
    margin-bottom: 8px;
    width: 100%;
}

.app-btn {
    width: 50%;
}

.search {
    width: 76%;
}

.filters {
    padding: 6px;
}

.filter-list {
    width: 90%;
    display: inline-block;
    color: #888;
    font-style: italic;
}

.filter-list strong {
    color: #000;
    font-style: normal;
}

.filter-options {
    width: 10%;
    float: right;
    text-align: right;
}

.results {
    margin-left: 0;
}

.results li:not(:first-child) {
    border-top: 1px dotted #CCC;
}

.results li {
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.7;
}

.results li:hover {
    background: #ededed;
}

.results i {
    position: relative;
    top: 3px;
    cursor: pointer;
}

.truncate {
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-results {
    display: none;
}

ul {
  padding-top: 5px;
  margin-left: 0.5em;
}

.input-append input {
  width: 74%;
}

.label-warning {
  font-size: 10px;
  padding: 0 2px 0 3px;
}

.row-fluid [class*="span"] {
  min-height: 20px;
}

.entries {
  padding-top: 10px;
}
.entry-text {
  padding-left: 0.3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}

.well .well-small {
  margin-bottom: 0;
}

.icon-plus,
.icon-minus {
  float: right;
  position: relative;
  top: 4px;
}

.mentor-app {
  height: 28px !important;
  min-height: 28px !important;
}

/* ---- styles for keyword cloud ---- */
.token_list {
    width: 97%;
    cursor: default;
}

.availableTag {
    background-color: #d1f5cb;  
}

.token_list .token a.delete {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #C6C6C6;
    cursor: pointer;
    outline: medium none;
    background-color: transparent;
    position: absolute;
    right: 6px;
    top: 3px;
}

.token_list .token a.delete:hover {
    color: #000;
}